*{}
html{
    background-image: linear-gradient(-90deg, ghostwhite, transparent, ghostwhite), url(../images/background.png);
    background-color: ghostwhite;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    overflow: hidden;
}

#mainContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

#mainWrapper{
  margin: 0 auto;
  width: 900px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 10px;
}

footer{
    font-family: "Lato", Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    background-color: rgba(10,10,10,.6);
    overflow: hidden;
    position: relative;
    color: white;
}
footer p{
    text-align: center;
    margin: 0;
    line-height: 50px;
    letter-spacing: 2px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    background: white; 
    border-left: 2px solid darkgray;
}
::-webkit-scrollbar-track {
    
}
::-webkit-scrollbar-thumb {
    background: darkgray;
}
/* Links */
a:link, a:visited, a:hover, a:active {
    color: rgb(60,60,60);
}
.hiddenLayer{
  opacity: 0;
  pointer-events: none;
}